In [1]:
# Dependencies
# ----------------------------------
# Imports the method used for connecting to DBs
from sqlalchemy import create_engine

# Imports the methods needed to abstract classes into tables
from sqlalchemy.ext.declarative import declarative_base

# Allow us to declare column types
from sqlalchemy import Column, Integer, String, Float

In [13]:
# Create Salary and Title Classes
# ----------------------------------

# Sets an object to utilize the default declarative base in SQL Alchemy
Base = declarative_base()

class Employees(Base):
    __tablename__ = 'employees'
    emp_no = Column(Integer, primary_key=True)
    birth_date = Column(String)
    first_name = Column(String)
    last_name = Column(String)
    gender = Column(String)
    hire_date = Column(String)

class Salaries(Base):
    __tablename__ = 'salaries'
    id = Column(Integer, primary_key=True)
    emp_no = Column(Integer, foreign_key=True)
    salary = Column(Integer)
    from_date = Column(String)
    to_date = Column(String)
    
class Titles(Base):
    __tablename__ = 'titles'
    id = Column(Integer, primary_key=True)
    emp_no = Column(Integer, foreign_key=True)
    title = Column(String)
    from_date = Column(String)
    to_date = Column(String)

In [14]:
# Create Database Connection
# ----------------------------------
# Creates a connection to our DB
engine = create_engine("sqlite:///salary.sqlite")
conn = engine.connect()

In [15]:
# Create a "Metadata" Layer That Abstracts our SQL Database
# ----------------------------------
# Create (if not already in existence) the tables associated with our classes.
Base.metadata.create_all(engine)

In [16]:
# Create a Session Object to Connect to DB
# ----------------------------------
# Session is a temporary binding to our DB
from sqlalchemy.orm import Session
session = Session(bind=engine)

In [17]:
# Add Records to the Appropriate DB
# ----------------------------------
# Use the SQL ALchemy methods to run simple "INSERT" statements using the classes and objects  
session.add(employees)
session.add(salaries)
session.add(titles)
session.commit()

UnmappedInstanceError: Class 'sqlalchemy.ext.declarative.api.DeclarativeMeta' is not mapped; was a class (__main__.employees) supplied where an instance was required?

In [ ]:
#Create a histogram to visualize the most common salary ranges for employees.

#Create a bar chart of average salary by title.